<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trivia</title>
    <link rel="stylesheet" href="resources/css/global.css">
    <link rel="stylesheet" href="resources/css/style-form.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Lobster&family=Mountains+of+Christmas:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="pregunta mountains-of-christmas-bold">
        <h1> Pregunta</h1>
    </div>
    <div class="opciones">
        <button class="op1"> Opcion 1</button>
        <button class="op2"> Opcion 1</button>
        <button class="op1"> Opcion 1</button>
        <button class="op2"> Opcion 1</button>
    </div>

</body>
</html>