<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trivia Navideño</title>
    <link rel="stylesheet" href="resources/css/style.css">
    <link rel="stylesheet" href="resources/css/global.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Lobster&family=Mountains+of+Christmas:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="TI">
        <div>
        <!-- <img src="assets/logo uni1.png" alt="logo-universidad"> -->
        <img src="resources/assets/logo ti.png" alt="logo-TI">
        </div>
        <h1>Tecnologías de la información</h1>
    </div>
    <div class="mountains-of-christmas-bold trivia">
         <h2>Trivia Navideña</h2>
    </div>
   <div class="button-1 ">
    <button ><a href="/inicio" class="lobster-regular">Comenzar</a></button>
   </div>
    

</body>
</html>