<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="resources/css/style-inicio.css">
    <link rel="stylesheet" href="resources/css/global.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Lobster&family=Mountains+of+Christmas:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="titulo-PE mountains-of-christmas-bold">
        <h1>Selecciona tu Programa educativo</h1>
    </div>
    <div class="PE">
        <button class="lobster-regular">Agricultura Sustentable y Protegida</button>
        <button class="lobster-regular">Desarrollo de negocios</button>
        <button class="lobster-regular">Mecatrónica</button>
        <button class="lobster-regular">Procesos Alimentarios</button>
        <button class="lobster-regular">Procesos Industriales</button>
        <button class="lobster-regular">Tecnologías de la información</button>
        <button class="lobster-regular">Enfermería</button>
    </div>
</body>
</html>