<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="resources/css/style-score-general.css">
    <link rel="stylesheet" href="resources/css/global.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Lobster&family=Mountains+of+Christmas:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="mountains-of-christmas-bold">
    <h1>Resultados </h1>
    </div>
    <div class="container">
        <div>
            <div class="barra" id="barra-progreso"></div>
            <h3>Agricultura Sustentable y Protegida</h3>
        </div>
        <div>
            <div class="barra" id="barra-progreso"></div>
            <h3>Desarrollo de negocios</h3>
        </div>
        <div>
            <div class="barra" id="barra-progreso"></div>
            <h3>Mecatrónica</h3>
        </div>
        <div>
            <div class="barra" id="barra-progreso"></div>
            <h3>Procesos Alimentarios</h3>
        </div>
        <div>
            <div class="barra" id="barra-progreso"></div>
            <h3>Procesos Industriales</h3>
        </div>
        <div>
            <div class="barra" id="barra-progreso"></div>
            <h3>Tecnologías de la información</h3>
        </div>
        <div>
            <div class="barra" id="barra-progreso"></div>
            <h3>Enfermería</h3>
        </div>
    </div>
        

</body>
</html>